.App {
  text-align: center;
  background-color:orangered;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  border-radius: 25px;
  width: 200px;
  height: 25px;
  border: none;
  
}

button{
  border-radius: 25px;
  border: none;
  height: 35px;
  justify-self: center;
  align-self: center;
}

.frame{
  max-width: 500px;
  max-height: 500px;
  min-width: 500px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.gif{
  position:absolute;
  align-self: center;
  justify-self: center;
}
